:root {
  --color-primary: #febc2d;
  --color-accent: #f6ded2;

  --color-white: #fff;
  --color-black: #000;

  --color-grey: #838383;
  --color-grey-light: #d6d6d6;

  --text-base-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  font-size: var(--text-base-size);
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: var(--color-white);
  font-weight: 300;
}

