.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light);
  height: 7rem;

  &__left,
  &__middle,
  &__right{
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__toggle{
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-grey-light);
    height: 100%;
    padding: 0 3rem;
    margin-right: 3rem;
  }
  &-list{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;

    &__item{
      margin-right: 3rem;
      display: flex;
      align-items: center;
      height: 100%;
    }
    &__link{
      text-decoration: none;
      color: var(--color-grey);
      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 2px solid transparent;
      transition: .3s all;
      &:hover{
        color: var(--color-black);
        border-color: var(--color-primary);
      }
      &--active{
        color: var(--color-black);
        border-color: var(--color-primary);
      }
    }
  }
  &__search{
    display: flex;
    align-items: center;
    border-left: 1px solid var(--color-grey-light);
    height: 100%;
    padding: 0 3rem;}
}

.logo{
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}